[submodule "runit-services"]
	path = runit-services
	url = https://github.com/eugeneai/runit-services.git
[submodule "ontology-server/uuid"]
	path = ontology-server/uuid
	url = https://aur.archlinux.org/uuid.git
